{% extends "base.html" %}

{% block content %}

    <form id="register-form" action="/auth/register" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please Register</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="name" type="text" name="name" placeholder="Name" class="form-control">

        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="email" type="email" name="email" class="form-control" placeholder="Email address" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input id="password" type="password" name="password" class="form-control" placeholder="Password" required>


        <input id="submit-button" type="submit" value="Register" class="btn btn-lg btn-primary btn-block">
    </form>
{% endblock %}